@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

html, body {
  height: 100%; 
}

body {
  padding-top: 96px;
}

a {
  text-decoration: none;
  color: #444; 
}

a:hover {
  color: #835c5c; 
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}
header ul li {
  padding: 20px 23px 30px 23px; 
} 
h1 {
  font-weight: bolder;
  text-transform: uppercase;
  color: #f89500;
}
#heading-text {
  padding: 0px 100px 0px 100px;
}

@media screen and (max-width: 940px) {
  .container {
    padding: 30px 10px; 
  } 
}

.app1 {
  margin-top: 50px;
  margin-left: 150px;
}
#title {
  font-size: 30px;
  color: #333;
  margin-bottom: 10px;
  font-weight: bolder;
}
#p1 {
  margin-top: 30px;
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  padding: 0px 100px 0px 0px;
} 
.subtitle {
  font-size: 18px;
  font-weight: bold;
  color: #4d4d4d;
  margin-bottom: 20px;
}

.HS1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.HS2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.HS3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.SM1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.SM2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.SM3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.MF1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.MF2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.MF3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.C1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.C2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.C3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.BM1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.BM2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.BM3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.A1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.A2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.A3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.W1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.W2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.W3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.MPS1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.MPS2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.MPS3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.TFC1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.TFC2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.TFC3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.VOS1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.VOS2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.VOS3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.TL1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.TL2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.TL3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.E1 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -2%;
}

.E2 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.E3 {
  height: 450px;
  width: 450px;
  margin-top: -0.5%;
  margin-left: -11%;
}

.footer {
  text-align: center;
  padding: 20px;
  padding-bottom: 0px;
  background-color: #444;
  color: #FFF; 
}

@media screen and (max-width: 940px) {
  .footer {
    padding: 30px 10px; 
  } 
}

.footer h2 {
  font-size: 26px;
  margin-top: 10px; 
}

.footer p {
  text-align: center;
  text-indent: 20px; 
  color: #FFF;
}

.footer .link-list li {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #6C6C6C; 
}

.footer .link-list li a {
  color: #FFF; 
}

.footer a {
  text-decoration: none;
  outline: none;
  color: #fff; 
}

.footer a:hover {
  color: #835c5c; 
}
