@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  list-style: none; 
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%; 
}

body {
  padding-top: 96px;
}

a {
  text-decoration: none;
  color: #444; 
}

a:hover {
  color: #835c5c; 
}

ul {
  margin: 0;
  padding-left: 0; 
}

a:hover,
a:focus {
text-decoration: none;
}

#logo {
  max-width: 90%; 
  height: auto; 
  margin-bottom: 5px; 
  margin-left: -10px; 
  margin-right: 20px;
}

header {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  background-color: #FFF;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
}

header ul li {
  float: left;
  padding: 35px 23px 30px 23px;
  font-size: 16px; 
}

@media screen and (max-width: 824px) {
  header ul li {
    padding: 35px 23px 30px 23px; 
  } 
}

@media screen and (max-width: 767px) {
  header ul li {
    float: none;
    padding: 15px;
    border-top: 1px solid #CCC; 
    border-bottom: 1px solid #CCC;
  }
}

header img {
  margin-top: 10px;
  max-width: 230px; 
}

@media screen and (max-width: 767px) {
  header img {
    margin-top: 5px;
    margin-bottom: 5px; 
  }
}

header .btn {
  margin-top: 25px; 
}

.crisis-hotline{
  border-color: #e0e0e0;
  line-height: 14px;
  background-color: #f9f9f9;
  color:#383838;
  padding:15px 15px 0px 15px;
  margin:0px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff5733;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #e63e00;
}

.container {
    display: flex;
    padding: 70px;
    justify-content: left;
    align-items: center;
    padding-top: 0px;
  }
  .card {
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s; 
    border-radius: 10px;
    height: 550px; 
    }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  
  .card-img-top {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 25% ;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-body {
    padding: 10px;
    margin-top: -40px;  
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 40px;
  }
  
  .card-text {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .card-text {
    margin: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
  }

  .margin
  {
    margin-top: 20px;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
    color: #fff;
  }
  
  .see-more-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }

  
  .footer {
    text-align: center;
    padding: 20px;
    padding-bottom: 0px;
    background-color: #444;
    color: #FFF; 
  }
  
  @media screen and (max-width: 940px) {
    .footer {
      padding: 30px 10px; 
    } 
  }
  
  .footer h2 {
    font-size: 26px;
    margin-top: 10px; 
    margin-bottom: 10px;
  }
  
  .footer p {
    text-align: center;
    text-indent: 20px; 
    color: #FFF;
    padding: 1%;
  }
  
  .footer .link-list li {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #6C6C6C; 
  }
  
  .footer .link-list li a {
    color: #FFF; 
  }
  
  .footer a {
    text-decoration: none;
    outline: none;
    color: #fff; 
  }
  
  .footer a:hover {
    color: #835c5c; 
  }
  