body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

.breadcrumb {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
    display: inline-block;
}

.breadcrumb li {
    display: inline;
    margin: 0 5px;
}

.breadcrumb li i {
    margin: 0 5px;
}

.breadcrumb li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

section h1 {
    margin-top: 0;
}

form {
    display: flex;
    flex-direction: column;
}

p {
    margin: 10px 0;
}

button[type="button"], button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="button"]:hover, button[type="submit"]:hover {
    background-color: #0056b3;
}

button[type="submit"] {
    align-self: flex-end;
}