@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none; 
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
  }


html, body {
    height: 100%;
}

h1{
    font-size: 25px;
    padding: 12px 0;
    font-weight: 600;
}

h2{
    padding: 12px 0;
    font-size: 22px;
    font-weight: 545;
}

h3{
    font-size: 16px;
    margin-top: 30px;
    font-weight: 540;
}

.main-block, .info {
    display: flex;
    flex-direction: column;
}

.main-block {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
}

form {
    width: 25%;
    height: 100%; 
    padding: 25px;
    border-radius: 18px; 
    border: solid 1px #ccc;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #f1f1f1;
}

.info-item {
    width: 100%;
}

input {
    width: calc(100% - 57px);
    height: 36px;
    padding-left: 10px; 
    margin: 0 0 12px -5px;
    border-radius: 0 5px 5px 0;
    border: solid 1px #cbc9c9;
    box-shadow: 1px 2px 5px rgba(0,0,0,.09); 
    background: #fff; 
}

.icon {
    padding: 9px 15px;
    margin-top: -1px;
    border-radius: 5px 0 0 5px;
    border: solid 0px #cbc9c9;
    background: #666;
    color: #fff;
}

input[type=radio] {
    display: none;
}

label.radio {
    position: relative;
    display: inline-block;
    text-indent: 32px;
    cursor: pointer;
}

label.radio:before {
    content: "";
    position: absolute;
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 0.5px solid #ff5733;
    background: #fff;
}

label.radio:after {
    content: "";
    position: absolute;
    width: 8px;
    height: 4px;
    top: 5px;
    left: 4px;
    border-bottom: 3px solid #e63e00;
    border-left: 3px solid #e63e00;
    transform: rotate(-45deg);
    opacity: 0;
}

input[type=radio]:checked + label:after {
    opacity: 1;
}

textarea {
    margin-top: -20px;
    width: 99%;
    margin-bottom: 12px;
}

button {
    width: 99.5%;
    letter-spacing: 2px;
    padding: 8px;
    border-radius: 5px; 
    border: none;
    background-color: #ff5733; 
    font-size: 14px;
    font-weight: 500;
    color: #fff;
}

button:hover {
    background: #e63e00;
}

.grade-type div {
    display: flex;
    margin: 6px 0;
}

@media (min-width: 568px) {
    .info {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    .info-item {
        width: 48%;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}